.playlist {
    width: 100%;
    margin-top: 21.7rem;
    padding-top: 0.5rem;
    background-color: rgba(238, 238, 238, 0.74);
    position: relative;
    z-index: 0;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#src-audio {
    display: block;
}